.container-fluid {
    background-color: #eee;
    margin: 8px;
}
.wrapper {
    background-color: #ffffff;
}

ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}

ul li {
    margin-top: 1rem;
}

blockquote {
    max-width: 545px;
    margin: 0 auto 50px auto;
    font-style: italic;
    text-align: left;
}